h1 {
  font-size: 30px;
  color: lightblue;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
  color: darkblue;
}

li {
  font-size: 15px;
  color: darkblue;
}
